{% extends "wrapper.html" %}

{% block title %}
    Profile
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/search_style.css">
{% endblock %}

{% block content %}
    <div class="row" id="breaker">
        <p>
            Profiles:
        </p>
    </div>

    {% if users %}
        {% for user in users %}
            <div class="row" id="postLine">
                <a href="{{ user.profile.get_absolute_url }}" id="post">{{ user.username }}</a>
            </div>
        {% endfor %}
    {% else %}
        <div class="row" id="breaker">
            <p>
                No results, try to search more correctly!
            </p>
        </div>
    {% endif %}

    <div class="row" id="breaker">
        <p>
            Posts:
        </p>
    </div>

    {% if postsTitle or postsBody %}
        {% for post in postsTitle %}
            <div class="row" id="postLine">
                <a href="{{ post.get_absolute_url }}" id="post">{{ post.title }}</a>
            </div>
        {% endfor %}
        {% for post in postsBody %}
            {% if post not in postsTitle %}
            <div class="row" id="postLine">
                <a href="{{ post.get_absolute_url }}" id="post">{{ post.title }}</a>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="row" id="breaker">
            <p>
                No results, try to search more correctly!
            </p>
        </div>
    {% endif %}

{% endblock %}
