{% extends "wrapper.html" %}

{% block title %}
    Profile
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/profile_style.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column" style="width: 20%;">
            <img src="/static/images/account.png" id="photo" alt="photo">
        </div>
        <div class="column">
            <div style="margin-top: 5%;">
                <label class="label">Name: {{ user_profile.first_name }}</label>
            </div>
            <div>
                <label class="label">From: {{ user_profile.profile.location }}</label>
            </div>
            <div>
                <label class="label">Topics: {{ user_profile.profile.topics }}</label>
            </div>
            <div>
                <label class="label">Bio: {{ user_profile.profile.bio }}</label>
            </div>
        </div>
        <div class="column" style="width: 20%;">
            <div style="margin-top: 25%;">
                <label class="label">Rating: {{ rating }}</label>
                <div style="margin-right: 5%;">
                    <form action="" method="post">{% csrf_token %}
                        <button type="submit" class="plusButton" name="plus">+</button>
                    </form>
                    <form action="" method="post">{% csrf_token %}
                        <button type="submit" class="minusButton" name="minus">-</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}" id="error" style="margin-top: 1%; width: 85%;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
