@font-face {
    font-family: industry;
    src: url(../fonts/industry-demi.woff);
}

@font-face {
    font-family: proximanova;
    src: url(../fonts/proximanovacond-regular.woff);
}

body {
    background: linear-gradient(141deg, #f0c670 0%, #fa6057 51%, #d93444 75%) fixed;
    font-family: proximanova;
    font-size: 19px;
}

.vl {
    border-left: 3px solid #dc3545;
    height: 40px;
    top: 0;
    margin-left: -3px;
}

.navbar {
    height: 40px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

.navbar-nav > li{
    padding-left:20px;
    padding-right:10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(220, 53, 69, 0.8);
    box-shadow: 0 1px 1px rgba(227, 95, 108, 0.7) inset, 0 0 8px rgba(230, 100, 110, 0.6);
    outline: 0 none;
}