
p.logo {
    /*margin-top: 100px;*/
    margin-top: 8%;
    font-family: industry;
    line-height: 0.95;
    font-size: 10vw;
    color: #cc182a;
}

p.introRed {
    font-family: industry;
    line-height: 0.9;
    font-size: 3vw;
    color: #cc182a;
}

p.inviteString {
    font-family: proximanova;
    text-align: center;
    font-size: 1.35vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: black
}

span.introBlack {
    font-family: industry;
    font-size: 3vw;
    color: black;
}

button.createButton {
    height: 40%;
    width: 60px;
    border-radius: 3px;
    background-color: Transparent;
    color: #161616;;
    border: 1px solid #161616;
}

button.createButton {
    transition-duration: 0.4s;
}

button.createButton:hover {
    background-color: #dc3545;
    border: 2px solid #dc3545;
    color: #FFFFFF;
    cursor: pointer;
}

button.createButton:focus {
    border-color: rgba(255, 253, 254, 0.8);
    box-shadow: 0 1px 1px rgba(242, 213, 224, 0.7) inset, 0 0 8px rgba(246, 229, 205, 0.6);
    outline: 0 none;
}

.searchWrapper {
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 50%;
}

input.form-control, button.createButton {
    display: inline-block;
    vertical-align: middle;
}

#mainInput {
    background-color: Transparent;
    border-color: #161616;
    color: #161616;
    width: 75%;
    height: 40%;
    font-size: 20px;
}

#mainInput:focus {
    border-color: rgba(255, 253, 254, 0.8);
    box-shadow: 0 1px 1px rgba(242, 213, 224, 0.7) inset, 0 0 8px rgba(246, 229, 205, 0.6);
    outline: 0 none;
}

#mainInput::placeholder {
    color: #161616;
}