input.form-control, button.postButton {
    margin: auto;
    vertical-align: middle;
}

#mainBlock {
    margin-top: 5%;
}

p.logo {
    font-family: industry;
    line-height: 0.95;
    font-size: 6.5vw;
    color: #cc182a;
}

.fieldsWrapper {
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: 62%;
    height: 50%;
}

button.postButton,
button.minusButton {
    height: 40%;
    width: 100%;
    margin-top: 5%;
    border-radius: 3px;
    background-color: Transparent;
    color: #161616;;
    border: 1px solid #161616;
    transition-duration: 0.4s;
}

button.postButton:hover {
    background-color: #3ab63a;
    border: 2px solid #3ab63a;
    color: #FFFFFF;
    cursor: pointer;
}

button.minusButton:hover {
    background-color: #dc3545;
    border: 2px solid #dc3545;
    color: #FFFFFF;
    cursor: pointer;
}

button.postButton:focus,
button.minusButton:focus {
    border-color: rgba(255, 253, 254, 0.8);
    box-shadow: 0 1px 1px rgba(242, 213, 224, 0.7) inset, 0 0 8px rgba(246, 229, 205, 0.6);
    outline: 0 none;
}

#nickname, #password {
    background-color: Transparent;
    border-color: #161616;
    color: #161616;
    width: 100%;
    height: 40%;
    font-size: 20px;
    margin-top: 5%;
}

#nickname:focus,
#password:focus {
    border-color: rgba(255, 253, 254, 0.8);
    box-shadow: 0 1px 1px rgba(242, 213, 224, 0.7) inset, 0 0 8px rgba(246, 229, 205, 0.6);
    outline: 0 none;
}

#nickname::placeholder,
#password::placeholder {
    color: #161616;
}