.row
{
    width: 75%;
    display: table;
    table-layout: fixed;
    margin: 5% auto auto auto;
    background-color: rgba(22, 22, 22, 0.6);
    border: 1px solid rgba(55, 55, 55, 0.4);
    border-radius: 5px;
    position: relative;
}

.label {
    color: rgba(180, 178, 179, 0.8);
    font-size: 25px;
}

button.postButton {
    height: 50%;
    width: 100%;
    margin: 1% auto auto auto;
    border-radius: 3px;
    background-color: Transparent;
    color: #161616;
    border: 1px solid #161616;
    transition-duration: 0.4s;
}

button.postButton:hover {
    background-color: #3ab63a;
    border: 2px solid #3ab63a;
    color: #FFFFFF;
    cursor: pointer;
}

button.postButton:focus {
    border-color: rgba(255, 253, 254, 0.8);
    box-shadow: 0 1px 1px rgba(242, 213, 224, 0.7) inset, 0 0 8px rgba(246, 229, 205, 0.6);
    outline: 0 none;
}