{% extends "wrapper.html" %}

{% block title %}
    Wrink
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/home_style.css">
{% endblock %}

{% block content %}
<div class="centered-form center-block">
  <div class="container col-md-10 col-md-offset-1">
    <p align="center" class="logo">WRINK</p>
    <p align="center" class="introRed">wr<span class="introBlack">ite what you th</span>ink</p>
    <div class="container col-md-7 col-md-offset-1" style="margin-top: 160px; height: 210px;">
      <div class="searchWrapper">
        <p class="inviteString"></p>
        <input id="mainInput" type="text" class="form-control" placeholder="Enter a blog title or an author's name..." aria-label="Search">
        <button class="createButton">Find</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
