{% extends "wrapper.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/password_reset_style.css">
{% endblock %}

{% block content %}
<div class="centered-form center-block">
  <div class="container col-md-10 col-md-offset-1" id="mainBlock">
    <p align="center" class="logo">Reset password</p>
    <div class="container col-md-7 col-md-offset-1" style="margin-top: 10%; height: 210px;">
      <div class="fieldsWrapper">
          <p class=”error” id="emailMessage">Don't worry!</p>
          <p class="error" id="emailMessage">We sent on your email message with instructions. Follow them to restore access to your account.</p>
          <p class="error" id="emailMessage">Thank you for using Wrink!</p>
          <form action="/" method="get" style="height: 100%;">{% csrf_token %}
            <button class="postButton" id="goBackButton">Ok</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
