{% extends "wrapper.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/password_reset_style.css">
{% endblock %}

{% block content %}
<div class="centered-form center-block">
  <div class="container col-md-10 col-md-offset-1" id="mainBlock">
    <p align="center" class="logo">Reset password</p>
    <div class="container col-md-7 col-md-offset-1" style="margin-top: 10%; height: 210px;">
      <div class="fieldsWrapper">
        <p class=”error” id="error">To restore access to your account, please, enter your email.</p>
        <form method="post" style="height: 100%;">{% csrf_token %}
            <input id="email" type="email" name="email" class="form-control" placeholder="Email...">
            <button class="postButton">Send email</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
