{% extends "wrapper.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/sign_up_style.css">
{% endblock %}

{% block content %}
<div class="centered-form center-block">
  <div class="container col-md-10 col-md-offset-1" id="mainBlock">
    <p align="center" class="logo">Registration</p>
    <div class="container col-md-7 col-md-offset-1" style="margin-top: 10%; height: 210px;">
      <div class="fieldsWrapper">
          <form method="post" style="display: inline;">{% csrf_token %}
            <input id="nickname" name="username" type="text" class="form-control" placeholder="Nickname...">
            <input id="email" name="email" type="email" class="form-control" placeholder="Email...">
            <input id="password" name="password1" type="password" class="form-control" placeholder="Password...">
            <input id="confirm_password" name="password2" type="password" class="form-control" placeholder="Confirm password...">
            <button type="submit" class="createButton">Create my account</button>
          </form>
          {% if error %}
            <p class=”error” id="error">Invalid input data!</p>
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
