{% extends "wrapper.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/sign_up_style.css">
{% endblock %}

{% block content %}
<div class="centered-form center-block">
  <div class="container col-md-10 col-md-offset-1" id="mainBlock">
    <p align="center" class="logo">Registration</p>
    <div class="container col-md-7 col-md-offset-1" style="margin-top: 10%; height: 210px;">
      <div class="fieldsWrapper">
        <input id="nickname" type="text" class="form-control" placeholder="Nickname...">
        <input id="email" type="email" class="form-control" placeholder="Email...">
        <input id="password" type="password" class="form-control" placeholder="Password...">
        <input id="confirm_password" type="password" class="form-control" placeholder="Confirm password...">
        <button class="createButton">Create my account</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
